 @import url('https://fonts.googleapis.com/css2?family=Diplomata+SC&family=Dosis:wght@300&family=Josefin+Sans:ital,wght@1,500&family=Kanit:ital@1&family=Lobster&family=Manrope:wght@200&family=Oleo+Script+Swash+Caps:wght@400;700&family=Poppins:ital,wght@1,300;1,600&family=Rubik+Moonrocks&family=Titan+One&family=Ubuntu:wght@500&family=Yellowtail&display=swap');


*{
padding: 0;
margin: 0;
box-sizing: border-box;

}
body{
background-color:#222f3e;
}
header{
    position:fixed;
    top: 0;
    left: 0;
    background-color: #1dd1a1;
    width: 100%;
    z-index: 99;
}
.nav{
    max-width: 1200px;
    width: 100%;
    margin: auto;
    height: 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.logo{
    font: 1.2rem;
    font-weight: 500;
    text-decoration: none;
    text-transform: uppercase;
    color: #ffffff;
}
.box{
    position: relative;
    color: #ffffff;
    width: 30px;
    height: 30px;
    text-align: center;
}
.cart-count{
    position: absolute;
    background-color: #ff7675;
    top: -8px;
    right: 8px;
    text-align: center;
    padding: 3px;
    height: 30px;
    width: 30px;
    line-height: 20px;
    border-radius: 50%;
    /* z-index: 99; */
}

#cart-icon{
 
    font-size: 1.6rem;
    cursor: pointer;
    padding-top: 10px;
    
}
.container{

    max-width: 1200px;
    width: 100%;
    margin: 0;
    padding: 6rem;
    margin: 0rem 5rem;
    
}

img{
    width: 100%;
}
.food-list{
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(180px,auto));
    gap: 30px;
    padding: 30px;
}

.food-box{
background-color: antiquewhite;
padding: 20px;

box-shadow: 10px 20px 10px rgb(0,0,0,0.9);
overflow: hidden;
position: relative;

}
h2.title{
    font-size: 3.5rem;
    margin-bottom: 20px;
    color: #1dd1a1;
    font-weight: 800;
}

.food-pic{
    object-fit: cover;
    aspect-ratio: 1/1;
    transition: 0.5s;
}
.image:hover{
    transform: scale(2);

}

.food-name{

    font-size: 20px;
margin: 10px 0px;
font-family: 'Lobster', cursive;
font-weight: 600;
text-transform: capitalize;
color:#222f3e;
}
#by-icon  {
    position: absolute;
    right: 0;
    bottom: 0;
    font-size:20px;
    background-color: #1dd1a1;
    color:#ffffff;
    padding: 10px;
    cursor: pointer;
}
#by-icon:hover{
    background-color:#ffffff;
    color: #1dd1a1;
}

.cart{
position: fixed;
top: 0;
right: -100%;
width: 400px;
height: 100vh;
overflow-x: hidden;
overflow-y: auto;
padding: 20px;
background-color:#ffffff;
box-shadow: 0px 1px 5px rgba(7, 5, 5, 0.9);
z-index: 100;
}
.cart-active{
    right: 0;
    transition: 0.5s;
}
.cart-title{
    text-align: center;
    font-size: 2rem;
    
    font-weight: bold;
    margin-bottom: 10px;
    border-bottom: 3px solid rgb(0,0,0,0.1);
    padding-bottom: 15px;
}
.cart-box{
    display: grid;
    grid-template-columns: 32% 50% 18%;
    align-items: center;
    gap: 1.2rem;
    margin-top: 1rem;
    border-bottom: 1px solid rgb(0,0,0,0.1);
    padding-bottom: 14px;
}
.cart-image{
    width: 100px;
    height: 100px;
    object-fit: cover;
    border: 1px solid rgb(0,0,0,0.6);
    padding: 6px;
}
.price-box{

    display: flex;
    justify-content: space-between;
}
.cart-name{
    font-size: 1.4rem;
    text-transform: uppercase;
    color:#00b894;
    font-weight: 600;

}
.cart-price{
    font-weight: bolder;

}
.cart-quantity{
    border: 1px solid rgb(0,0,0,0.1);
    outline: none;
    width: 2rem;
    text-align: center;
    font-size: 1rem;
}
.delete-item{
font-size: 25px;
color: red;
cursor: pointer;
}
.total{
display: flex;
justify-content: flex-end;
margin-top: 1.5rem;
}
.total-title{
    font-size: 16px;
    font-weight: bold;
}
.total-price{
margin-left: 0.5rem;
}
.btn-by{
border: none;
padding: 15px;
background-color: black;
color: #ffffff;
text-transform: capitalize;
font-family: 'Poppins', sans-serif;
cursor: pointer;
font-weight: 800;

}
.btn-by:hover{
    color: black;
    background-color:#1dd1a1;;
}
.close-item{
    font-size: 2rem;
    position: absolute;
    top:0;
    right: 18px;;
    cursor: pointer;
}